<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="MainApp">
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
<meta name="viewport"
  content="user-scalable=no, initial-scale=1, maximum-scale=1 width=device-width and height=device-height" />
<link rel="stylesheet" type="text/css" href="css/ratchet.min.css" />
<link rel="stylesheet" type="text/css" href="css/ratchet-theme-ios.min.css" />
<link rel="stylesheet" type="text/css" href="css/pure-min.css" />
<title>4pics1wrd</title>
</head>
<body>
  <header class="bar bar-nav">
    <button class="btn pull-left">Left</button>
    <button class="btn pull-right">Right</button>
    <h1 class="title">Title</h1>
  </header>
  <div class="content" ng-controller="ContentCtrl">
    <div class="pure-g">
      <div class="pure-u-1-2">
        <img class="media-object pure-img" src="img/test-pic.jpg">
      </div>
      <div class="pure-u-1-2">
        <img class="media-object pure-img" src="http://placehold.it/200x200">
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-2">
        <img class="media-object pure-img" src="http://placehold.it/200x200">
      </div>
      <div class="pure-u-1-2">
        <img class="media-object pure-img" src="http://placehold.it/200x200">
      </div>
    </div>
     <div class="pure-g">
      <div class="pure-u-1-5" ng-repeat="answerBoxe in answerBoxes"><img class="media-object pure-img" ng-src="img/used-{{answerBoxe.letter}}.png" ng-click="answerClick(answerBoxe)"></div>
     </div>
    <div class="pure-g">
      <div class="pure-u-1-8" ng-repeat="letterBox in letterBoxes"><img class="media-object pure-img" ng-src="img/{{letterBox.letter}}.png"  ng-click="letterClick(letterBox)" ng-show="!letterBox.selected"></div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-8 btn">A</div>
      <div class="pure-u-1-8 btn">B</div>
      <div class="pure-u-1-8 btn">C</div>
      <div class="pure-u-1-8 btn">D</div>
      <div class="pure-u-1-8 btn">E</div>
      <div class="pure-u-1-8 btn">F</div>
      <div class="pure-u-1-8 btn">G</div>
      <div class="pure-u-1-8 btn">H</div>
    </div>
  </div>
  <script type="text/javascript" src="phonegap.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/ratchet.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript"></script>
</body>
</html>
